body {
    background-color: violet;
}
.red {
    background-color: blue;
   
 }
.color {
    background-color: blueviolet;
    border: 2px solid darkblue;
}
h1 {
    text-align: center;
}
