body {
    background-color: violet;
}
.red {
    background-color: blue;
   
 }
.color {
    background-color: blueviolet;
    border: 2px solid darkblue;
}
.name {
    background-color: red;
    margin: 5px;
}