body {
    background-color: violet;
}
.red {
    background-color: blue;
   
 }
.color {
    background-color: blueviolet;
    border: 2px solid darkblue;
}
h1 {
    text-align: center;
}
button{
    margin-left: 340px;
    padding: 0px;
    border-radius: 10%;
}
